<div [style.--scroll]="x" [style.--hrscroll]="hr" class="main" id="formation">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="wrapper center-items ls-large">
          <h1>Formation</h1>
        </div>
        <hr />

        <div class="my-container">
          <div class="timeline">
            <!-- Ensias -->
            <div class="timeline-container info">
              <div class="timeline-icon">
                <mat-icon>school</mat-icon>
              </div>
              <div class="timeline-body">
                <h4 class="timeline-title">
                  <span class="badge"
                    >Cycle d'ingénieure en génie logiciel (GL)</span
                  >
                </h4>
                <p>
                  Ecole Nationale Supérieure d’Informatique et d’Analyse des
                  Systèmes (ENSIAS)
                </p>
                <p class="timeline-subtitle">2018-2021</p>
              </div>
            </div>
            <!-- Prepa -->
            <div class="timeline-container info">
              <div class="timeline-icon">
                <mat-icon>calculate</mat-icon>
              </div>
              <div class="timeline-body">
                <h4 class="timeline-title">
                  <span class="badge">
                    Classe préparatoire filière MP
                    (mathématiques-physiques)</span
                  >
                </h4>
                <p>Lycée Moulay Al Hassan Tanger</p>
                <p class="timeline-subtitle">2016-2018</p>
              </div>
            </div>
            <!-- Bac -->
            <div class="timeline-container info">
              <div class="timeline-icon">
                <mat-icon>science</mat-icon>
              </div>
              <div class="timeline-body">
                <h4 class="timeline-title">
                  <span class="badge">
                    Baccalauréat option Science Mathématiques
                  </span>
                </h4>
                <p>Lycée Ibn Batouta Tanger</p>
                <p class="timeline-subtitle">2015-2016</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
