<div class="main">
  <div class="row center-items">
    <div class="col-12">
      <div class="wrapper">
        <img src="{{ url_image }}" alt="Avatar" /><br />
        <h1 class="giga bree-serif regular double-header-line">
          Hello, CHICHI Hamza here !
        </h1>
        <br />
        <h3>Who Im I ?</h3>
        <div class="row center-items">
          <div class="col-6">
            <p class="delta paragraph">
              A passionate Software Engineer always looking forward to take new
              challenges and surpass myself in order to increase my knowledge,
              my duty is to always fulfill my personal and professional missions
              within a team and to create constant synergy with my colleagues.
            </p>
          </div>
        </div>

        <p class="delta oswald regular uppercase ls-large my-4">
          Welcome to my portfolio
        </p>
        <div>
          <a class="primary_btn tr-bg" href="{{ url_cv }}" download
            ><span>Checkout my CV</span></a
          ><br /><br />
        </div>

        <div class="row mt-1 mx-auto">
          <div class="col-12 center-items">
            <div class="social">
              <a target="_blank" href="https://github.com/Hamza-CHICHI"
                ><i class="fa fa-github py-1 px-2"></i
              ></a>
              <a
                target="_blank"
                href="https://www.linkedin.com/in/hamza-chichi/"
                ><i class="fa fa-linkedin py-1 px-2"></i
              ></a>
              <a target="_blank" href="https://www.facebook.com/Chichi.Hamzaa/"
                ><i class="fa fa-facebook py-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
