<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="wrapper center-items ls-large">
          <h1>Skills</h1>
        </div>
        <hr />
      </div>
      <div class="col-lg-12 col-md-12 col-sm-6 d-flex justify-content-center">
        <ul class="skills-bar-container">
          <li>
            <div class="progressbar-title">
              <h3>HTML5</h3>
            </div>
            <div class="bar-container">
              <span class="progressbar progressred"></span>
              <div progress-bar="anime"></div>
            </div>
          </li>
        </ul>
      </div>
      <div data-inviewport="scale-in"></div>
    </div>
  </div>
</div>
